body {
    background-image: url('pic/cookbook.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100%;
}

img.logo {
    height:auto;
    width: 20%;
    position: absolute;
    top: 1%;
    left: 1%;
    z-index: 10;
}