body {
    background-image: url('pic/mainpage.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}

html,body {
    height: 100%;
    margin: 0;
    padding: 0;
}

img.logo {
    height:7%;
    width: auto;
    position: absolute;
    top: 1%;
    left: 1%;
    z-index: 10;
}

.container {
    height: 50%;
    width: 20%;
    position:absolute;
    top: 40%;
    left: 5%;
}

#start_game {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    transition: transform 0.3s ease;
}

#back_to_main {
    position: absolute;
    top:30%;
    left: 0;
    width: 60%;
    height: 60%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    transition: transform 0.3s ease;
}