:root {
    /* The size according to the times of eight */
        --size-s: 8px;
        --size-m: 16px;
        --size-l: 24px;
        --size-xl: 32px;
        --size-xxl: 40px;
    
    /* Some colors */
        --col-bitwhite: #fcfcfc;
        --col-white: #fff;
        --col-blue: #396dff;
        --col-black: #000;
        --col-not-so-black: #333;
        --col-very-slight-black: #888585;
        --col-grey: #f2f2f2;
        --col-purple: rgb(91, 6, 202);
        --col-dark-blue: rgb(0, 89, 255);
        --col-orange: #ffbb00;
    }
    a {
        text-decoration: underline;
        color: var(--col-white)
    }
body {
    background-image: url('pic/scare.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100%;
}

a:link {
    color: white;
}

address {
    position: absolute;
    top: 95%;
    text-align: center;
    text-decoration: underline;
    line-height: normal;
    left: 45%;
    font-size:x-large;
    color:var(--col-bitwhite)
}

img.logo {
    height:auto;
    width: 20%;
    position: absolute;
    top: 1%;
    left: 1%;
    z-index: 10;
}

img.start {
    height: auto;
    position: absolute;
    width: 20%;
    top:60%;
    left:40%
}